<!DOCTYPE html>
<html>
<head>
  <title>AnimeApp</title>

  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">	
  
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= csrf_meta_tags %>


</head>
<body>

  
<!-- top navbar -->
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Anime World</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if current_user %>
            <%= link_to "LogOut", logout_path, method: "destroy", class: "btn" %>
              <!-- <a href="/logout" class="btn" method: "destroy">Log Out</a> -->
            <% else %>
            <li>
              <a href="/login" class="btn">Log In</a>
            </li>
            <% end %>
          </li> 
          <li>
            <a href="/anime" class="btn">Anime</a>
          </li>  
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/about">About</a></li>
              <li><a href="/poll">Poll</a></li> -->
           <!--  </ul> -->
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
  <!-- top navbar end -->

	<%= yield %>

<%= javascript_include_tag 'application' %>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>

</body>
</html>
